<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
	<add key="RelativePath" value="..\\..\\..\\"/>
	<add key="LogPath" value="Logs\"/>
    <add key="ReportsPath" value="Reports\"/>
    <add key="DataPath" value="Resources\MarketData.csv"/>
    <add key="ResultsPath" value="Results\"/>
    <add key="AlphaApiEndpoint" value="https://www.alphavantage.co"/>
    <add key="AlphaQueryString" value="function=TIME_SERIES_DAILY&amp;symbol=vas.aus"/>
    <add key="WorldApiEndpoint" value="https://api.worldtradingdata.com"/>
    <add key="WorldQueryString" value="history?symbol=VAS.AX"/>
    <add key="YahooApiEndpoint" value="https://query1.finance.yahoo.com/v7/finance/download/"/>
    <add key="YahooQueryString" value="VAS.AX"/>
    <add key="PatternRecognitionImagePath" value="Resources\PatternRecognitionAverage.bmp"/>
    <add key="EmailTemplatePath" value="Resources\Template.html"/>
    <add key="StrategyTemplatePath" value="Resources\StrategyTemplate.html"/>
    <add key="LogoImagePath" value="Resources\Logo.png"/>
    <add key="WorldImagePath" value="Resources\World.png"/>
    <add key="PhoneImagePath" value="Resources\Phone.png"/>
    <add key="EmailImagePath" value="Resources\Email.png"/>
    <add key="BacktestingDate" value="2010-07-01"/>
  </appSettings>
</configuration>