<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="LogPath" value="Logs\"/>
    <add key="ReportsPath" value="Reports\"/>
    <add key="DataPath" value="Resources\MarketData.csv"/>
    <add key="ResultsPath" value="results.json"/>
    <add key="ApiEndpoint" value="https://www.alphavantage.co"/>
    <add key="QueryString" value="function=TIME_SERIES_DAILY&amp;symbol=vas.aus"/>
    <add key="PatternRecognitionImagePath" value="Resources\PatternRecognitionAverage.bmp"/>
    <add key="EmailTemplatePath" value="Resources\Template.html"/>
    <add key="LogoImagePath" value="Resources\Logo.png"/>
    <add key="WorldImagePath" value="Resources\World.png"/>
    <add key="PhoneImagePath" value="Resources\Phone.png"/>
    <add key="EmailImagePath" value="Resources\Email.png"/>
    <add key="BacktestingDate" value="2010-07-01"/>
    <add key="CacheSize" value="2000"/>
  </appSettings>
</configuration>