<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="InitialRun" value="True"/>
    <add key="LogPath" value="Logs\logfile.txt"/>
    <add key="ReadonlyDataPath" value="Resources\Historical Data.csv"/>
    <add key="DataPath" value="Resources\MarketData.csv"/>
    <add key="ResultsPath" value="results.json"/>
    <add key="ApiEndpoint" value="https://www.alphavantage.co"/>
    <add key="QueryString" value="function=TIME_SERIES_DAILY&amp;symbol=vas.aus"/>
    <add key="PatternRecognitionImagePath" value="Resources\PatternRecognitionAverage.bmp"/>
    <add key="OnlinePriceAdjustment" value="0.0125306"/>
    <add key="CacheSize" value="6488096"/>
    <add key="EmailTemplatePath" value="Resources\Template.html"/>
    <add key="LogoImagePath" value="Resources\Logo.png"/>
    <add key="WorldImagePath" value="Resources\World.png"/>
    <add key="PhoneImagePath" value="Resources\Phone.png"/>
    <add key="EmailImagePath" value="Resources\Email.png"/>
  </appSettings>
</configuration>